/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {
   font-family: 'Roboto', sans-serif;
}

body {
   background-color: #36465d;
}

textarea {
  resize: none;
}

.errors {
  color: red;
  list-style-type: none;
}

.session-form {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 250px;
  flex-direction: column;
  padding: 0px 40px;
}

.form-item {
  padding: 10px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.ReactModalPortal > * {
  opacity: 0;
}

.ReactModal__Overlay {
  transition: opacity 300ms ease-in-out;
  &--after-open {
    opacity: 1;
  }
  &--before-close {
    opacity: 0;
  }
}

.btn {
  cursor: pointer;
}

.logo-name {
  font-size: 50px;
  font-weight: 800;
  text-align: center;
  color: white;
}

.modal-button {
  display: flex;
  justify-content: space-between;
}

.submission {
  height: 75px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.auth-button {
  height: 32px;
  width: 75px;
}
