.feed {

}

.feed-item {
  padding: 10px;
  list-style-type: none;
  display: flex;
  width: 520px;
  background: #fff;
  border: 1px solid #fff;
  border-radius: 3px;
}

.item-container {
  display: flex;
  margin: 15px 0 0;
  border-radius: 3px;
}

.post {

}

.avatar {
  height: 64px;
  weight: 64px;
  margin-right: 20px;
  border-radius: 3px;
  background-color: #fff;
}

.title {
  font-size: 24px;
  font-weight: 500;
  margin: 0px;
}

.post-content {

}

.link-content {
}

.post-description {
  font-size: 14px;
  font-weight: 300;
}

.poster {
  margin-bottom: 10px;
}

.quote-content {
  font-size: 24px;
}

.photo-content {
  max-width: 520px;
  max-height: 400px;
}

.preview {
  max-width: 500px;
  max-height: 200px;
}

.video-content {
  
}
