.header {
  display: flex;
  justify-content: flex-end;
  margin-left: 40px;
  border-bottom: 1px solid white;
  padding-right: 20px 5px;
  height: 54px;
}

.header-item {
  text-align: center;
  display: flex;
  position: relative;
  padding: 6px 16px;
}

.header-button {
   background-color: #fff;
   border: 2px solid #fff;
   border-radius: 1px;
   padding: 5px 13px;
   font-weight: 600;
   width: 75px;
   height: 32px;
}
