.header {
  display: flex;
  background-color: #36465D;
  width: 100%;
  z-index: 1000;
  position: fixed;
  border-bottom: 1px solid white;
  height: 54px;
}
.header-left {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: white;
  padding-left: 22px;
}

.header-text {
  color: white;
  font-size: 24;
}

.left-text {
  cursor: pointer;
}

.left-text:hover {
  color: #ADD8E6;
}

.header-right {
  flex: 1;
  padding-right: 20px 5px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.header-item {
  text-align: center;
  display: flex;
  position: relative;
  padding: 6px 16px;
}

.header-button {
   background-color: #fff;
   border: 2px solid #fff;
   border-radius: 1px;
   padding: 5px 13px;
   font-weight: 600;
   width: 75px;
   height: 32px;
}

.btn:hover:enabled {
  opacity: .8;
}

.nix:hover {
  opacity: .8;
}
