.heart{
  color: #aaa;
  font-size:3em;
  cursor:pointer;
}

.heart:hover {
  color: #FF0000;
  opacity: .2;
}


.heart-container {
  display: flex;
  justify-content: flex-end;
}

.red{
  color: #FF0000
}

.delete-container {
  display: flex;
  justify-content: flex-end;
  margin-right: 10px;
  height: 100%;
  width: 50px;
}

.nix {
  cursor: pointer;
}

.item-footer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.red:hover {
  opacity: .5;
}
