.session-form {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 250px;
  flex-direction: column;
  padding: 0px 40px;
}

.submission {
  height: 60px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  border-top: 1px solid #9AA2AE;
}

.session-input {
  width: 220px;
  border-radius: 3px;
  border: 1px solid black;
  font-size: 16px;
  padding: 6px 6px 6px
}

.errors-list {
  padding-left: 0px;
}

.session-title {
  font-size: 20px;
  font-weight: 800;
}
