.background-image {
  background: url(https://s3-us-west-1.amazonaws.com/mixr-dev/autumn.jpg) no-repeat center center fixed;
  height: 1000px;
  z-index: -10;
  display: flex;
  justify-content: center;
}

.logo-name {
  font-size: 50px;
  font-weight: 800;
  text-align: center;
  align-self: center;
  color: white;
  height: 50px;
}
